<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs') %> 
<body>

<%- include('partials/navbar.ejs') %> <!-- Barra de Navegador  -->

<h1><%= title %></h1>




<%- include('partials/javascript.ejs') %>
</body>
</html>